<div class="counts-container">
  <div>
    <p class="count-large">
      <%= word_count %>
    </p>
    <p class="label-small">Total number of words</p>
  </div>
  <div>
    <p class="count-large">
      <%= unique_count %>
    </p>
    <o class="label-small">Number of unique words</p>
  </div>
</div>
