<div>
  <div>
    <p>Word cloud of the top 20 most common words</p>
    <img src="<%=word_cloud_src %>" />
  </div>

  <div>
    <p>Histogram of total posts per month</p>
    <img src="<%=histogram_src %>" />
  </div>

  <div>
    <p>Distribution of different symbols in the corpus</p>
    <img src="<%=pie_chart_src %>" />
  </div>

</div>
